<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-7 mrgnbtm">
      <h2>Ajouter une recette</h2>
      <form [formGroup]="recetteForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="inputtitre">Titre</label>
            <input type="text" class="form-control" formControlName="titre" id="inputtitre" placeholder="Titre">
          </div>
          <div class="form-group col-md-6">
            <label for="inputingredient1">Ingrédient 1</label>
            <input type="text" class="form-control" formControlName="ingredient1" id="inputingredient1" placeholder="Ingrédient 1">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="inputingredient2">Ingrédient 2</label>
            <input type="text" class="form-control" formControlName="ingredient2" id="inputingredient2" placeholder="Ingrédient 2">
          </div>
          <div class="form-group col-md-6">
            <label for="inputingredient3">Ingrédient 3</label>
            <input type="text" class="form-control" formControlName="ingredient3" id="inputingredient3" placeholder="Ingrédient 3">
          </div>
        </div>
        <button type="submit" [disabled]="!recetteForm.valid" class="btn btn-danger">Ajouter</button>
      </form>
    </div>
    <div class="col-md-4 mrgnbtm">
      <app-display-board
       [recetteCount]="recetteCount"
       (getRecettesEvent)="getAllRecettes()"
      >
      </app-display-board>
    </div>
  </div>
</div>
<div class="mrgnbtm">
  <app-users *ngIf="recettes.length !== 0" [users]="recettes"></app-users>
</div>
