<div class="display-board">
  <h4>Nombre de recettes</h4>
  <div class="number">
    {{recetteCount}}
  </div>
  <div class="btn">
    <button class="btn btn-warning" (click)="getAllRecettes()">Récupérer les recettes</button>
  </div>
</div>
